<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=BT1728239;User ID=sa;Password=123456"
      providerName="System.Data.SqlClient" />
    <add name="UserRegistrationDBConnectionString" connectionString="Data Source=BT1728239;Initial Catalog=UserRegistrationDB;User ID=sa;Password=123456"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="shcon" value="Data Source=BT1728239;Initial Catalog=UserRegistrationDB;User ID=sa;Password=123456"/>
  </appSettings>
</configuration>